<?xml version="1.0"?>
<Configuration>
    <Properties>
        <Property name="PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %X{call-id} :  %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>