.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.4);
  padding: 0 1rem;
  margin: 1rem;
}

.landing {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100vw;
  height: 85vh;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}

.sideView {
  margin-right: 7%;
  width: 20%;
}

.item {
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem;
}

.title {
  color: #00002d;
  font-size: 1.3rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
